[sync]
# whether to sync the device before & after updating the library
enabled = true
# the name of the device to sync, exactly as it appears in the Finder sidebar.
# Note that the whitespace and apostrophes may be unicode characters.
iphone_name = "Dylan’s iPhone 15"

[playlists.input]
# the name of the playlist that contains the tracks that should be updated
source_playlist = "candidates"
# playlist_folder will populate the `playlists` field on tracks
# using playlists from the folder.
# this field may be omitted.
playlist_folder = "SYNC 2.0"

# add an entry for each playlist you want to generate stats for
[[playlists.stats]]
name = "synced"
save_totals = true
show_totals = true
save_tracks = true
show_track_diff = true
save_collections = false
show_collection_diff = false

[[playlists.stats]]
name = "candidates"
save_totals = true
show_totals = false
save_tracks = true
show_track_diff = false
save_collections = true
show_collection_diff = true

# whether to clear all user album ratings in the library
[album_ratings]
clear = true

# whether to update the track ratings in the library
[track_ratings]
update = true

# whether to set the loved flag on tracks in the library with the top X% of scores
[favorites]
update = true
top_percent = 11

# whether to update the play counts in the library
[playlists.output]
# always force the playlist to update
force_update = false
# only update the playlist every X amount of time
update_every = { hours = 18 }
# allows removing tracks between full updates
remove_only = true

# a weighted shuffle playlist
[playlists.output.shuffle]
enabled = true
name = "weighted shuffle"
# include tracks from the parent playlist
parent_playlist = "synced"
# save the track statistics for this playlist
save_tracks = true
# these tracks will be less likely to be played
downranked_genres = ["chill lofi", "video game music", "Holiday"]
downranked_artists = [
    "matt pond pa",
    "shakey graves",
    "John Butler Trio",
    "John Butler",
    "Faye Webster",
    "Old Bear Mountain",
    "Melodysheep",
    "Terra Lumina",
    "of Montreal",
    "The End of America",
]

# a playlist of tracks that are overdue for play
[playlists.output.overdue]
enabled = true
name = "overdue"
parent_playlist = "candidates"
save_tracks = true
